<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxpay.sdk">

    <application
        android:name="com.maxpay.sdk.core.App"
        android:supportsRtl="true">
        <activity
            android:name=".SdkActivity"
            android:label="@string/title_activity_sdk"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>